[onclick] {
  cursor: pointer;
}
html {
  font-size: 16px;
}
img {
  vertical-align: middle;
  display: inline-block;
}
a {
  color: #333;
  text-decoration: none;
}
body,
h2,
hr,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
body,
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li,
ul {
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  background: #f2f5f9;
  color: #000;
  font-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
img {
  border: none;
  padding: 0;
  margin: 0;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
a.beautify {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}
a.beautify:link {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}
a.beautify:visited {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}
.font-common-line-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.common-title {
  padding: 0 0.875rem;
  background: #fff;
}
.common-title .common-title-content {
  padding: 0.9375rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.common-title .common-title-content .common-title-content-name {
  font-size: 0.875rem;
  font-weight: 700;
  color: #222236;
  display: flex;
  align-items: center;
}
.common-title .common-title-content .common-title-content-name > div {
  max-width: 20rem;
}
.common-regional-block.crosswise-block-carousel {
  background: #fff;
  overflow: hidden;
}
.common-regional-block.crosswise-block-carousel .common-regional-block-content {
  padding: 0 0.875rem;
  padding-bottom: 0.625rem;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content
  .common-regional-block-content-item {
  width: 10.5625rem;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content
  .common-regional-block-content-item
  .common-regional-block-item-img {
  width: 100%;
  height: 6.5rem;
  border-radius: 0.625rem;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content
  .common-regional-block-content-item
  .common-regional-block-item-img
  > img {
  width: 100%;
  height: 100%;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content
  .common-regional-block-content-item
  .common-regional-block-item-expound {
  height: 1.9375rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #222236;
  line-height: 1.1875rem;
  padding: 0.625rem 0.5rem;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content
  .common-regional-block-content-item
  .common-regional-block-item-expound
  > * {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content.type-original {
  overflow: hidden;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content.type-original
  .common-regional-block-content-alignment {
  display: flex;
  overflow-x: auto;
}
.common-regional-block.crosswise-block-carousel
  .common-regional-block-content.type-original
  .common-regional-block-content-alignment
  > a {
  flex-shrink: 0;
  margin-right: 0.625rem;
}
.musicmp3play-list-with-download {
  padding-bottom: 19px;
  background-color: #fff;
}
img {
  vertical-align: middle;
  border: 0;
}
a.logo > img {
  aspect-ratio: 25/6;
}
.nowrap {
  overflow: hidden;
  white-space: nowrap;
}
.nav {
  background: #26272b;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 45px;
  z-index: 999;
}
.nav .n {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
}
.nav .c {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  margin: 0 45px 0 0;
  text-align: center;
}
.nav .c ul {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
}
.nav .c li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.nav .r {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
}
.nav .r a {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
}
.menu {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu {
  transition-duration: 0.3s;
  position: fixed;
  top: 0;
  left: -270px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10001;
  padding-bottom: 60px;
  min-width: 100px;
  width: 100%;
  max-width: 251px;
  background: #383434;
}
.menu-btn {
  padding: 13px 0;
  width: 45px;
}
.menu-btn .bar_1,
.menu-btn .bar_2,
.menu-btn .bar_3 {
  position: relative;
  display: block;
  width: 21px;
  height: 4px;
  margin: 5px auto;
  background-color: #fff;
  border-radius: 10px;
}
.menu-btn .bar_1 {
  margin-top: 0;
}
.menu-btn .bar_3 {
  margin-bottom: 0;
}
.menu-btn-close .bar_1 {
  -webkit-transform: translateY(8px) rotate(-45deg);
  -ms-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
  background-color: red;
}
.menu-btn-close .bar_2 {
  opacity: 0;
}
.menu-btn-close .bar_3 {
  -webkit-transform: translateY(-8px) rotate(45deg);
  -ms-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
  background-color: red;
}
.menu-group {
  padding-top: 10px;
}
.menu-group li a {
  display: block;
}
.menu-border {
  border-bottom: solid 0 red;
  padding-bottom: 7px;
}
.menu-layer {
  padding: 6px 0 6px 15px;
  position: relative;
  top: -3px;
}
.menu-text {
  margin-left: 8px;
}
.menu-user-layer {
  padding: 6px 35px 6px 15px;
  position: relative;
}
.menu-layer,
.menu-user-layer {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-last {
  margin-bottom: 80px;
}
.shadow {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 10000;
  padding-bottom: 60px;
}
.container {
  height: 10vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.icons {
  padding: 35px;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
}
.facebook {
  cursor: pointer;
  color: #e7dede;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s;
}
.instagram {
  cursor: pointer;
  color: #f8f1f1;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s;
}
.twitter {
  cursor: pointer;
  color: #f7f1f1;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s;
}
.whatsapp {
  cursor: pointer;
  color: #e6e4e4;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  transition: all 0.3s;
}
.facebook:hover {
  border-color: #0f6ea5;
  box-shadow: 0 0 20px #288ebd;
  color: #4a99e4;
}
.instagram:hover {
  border-color: #070707;
  box-shadow: 0 0 20px #6e6e6e;
  color: #f3e9f5;
}
.twitter:hover {
  border-color: #ff001e;
  box-shadow: 0 0 20px #ff001e;
  color: #ff001e;
}
.whatsapp:hover {
  border-color: #2f0;
  box-shadow: 0 0 20px #2f0;
  color: #2f0;
}
.footer-distributed {
  background-color: #26272b;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 12px;
  margin: 0;
}
.footer-distributed p.footer-links {
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}
.footer-distributed .footer-links a:before {
  font-size: 8px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 1px;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 3px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 0;
  background-color: #13274f;
  border-radius: 62px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}
.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 10px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
.common-title {
  padding: 0 0.875rem;
  background: #fff;
}
.common-title .common-title-content {
  padding: 0.9375rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.common-title .common-title-content .common-title-content-name {
  font-size: 16px;
  font-weight: 900;
  margin-left: 7px;
  display: flex;
}
.common-title .common-title-content .common-title-content-name > div {
  max-width: 20rem;
}
a.beautify {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}
a.beautify:link {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}
a.beautify:visited {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}
.aegon {
  background-color: white;
}
.aegon a {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}
.aegon .text {
  width: 0;
  flex-grow: 1;
  margin: 0 8px;
}
.aegon .text .name {
  font-weight: 500;
  color: #4b4b4b;
  line-height: 20px;
}
.aegon .text .desc {
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: #5e5e5e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aegon .button {
  padding: 8px 12px;
  background: #24cd77;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: white;
}
.aegon .score {
  display: none;
}
@media screen and (min-width: 996px) {
  .aegon {
    padding: 12px;
  }
  .aegon .score {
    display: initial;
  }
  .aegon a {
    flex-wrap: wrap;
    padding: 0;
  }
  .aegon .icon {
    width: 56px;
    height: 56px;
  }
  .aegon .text {
    margin-left: 10px;
    margin-right: 0;
    padding: 4px 0;
    width: calc(100% - 66px);
  }
  .aegon .name {
    font-size: 16px;
    line-height: 24px;
  }
  .aegon .score {
    display: inline-block;
    margin: 0 4px;
    color: #fa8b16;
    font-size: 12px;
    line-height: 10px;
    height: 10px;
  }
  .aegon .score::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("https://static.mp3play.com/www/static/imgs/icon-mp3-list-star.svg");
    margin: 0 4px;
  }
  .aegon .desc {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
  }
  .aegon .button {
    margin-top: 9px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    text-align: center;
  }
}
.mp3-list-1001 {
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 16px;
}
.mp3-list-1001 a {
  vertical-align: middle;
  display: inline-block;
  margin-left: 12px;
  margin-left: var(--app-horizontal-spacing);
  min-width: 76px;
  width: 12.5%;
  width: calc((100% - 32px - 7 * var(--app-horizontal-spacing)) / 8);
}
.mp3-list-1001 a:first-child {
  margin-left: 16px;
}
.mp3-list-1001 a:last-child {
  margin-right: 16px;
}
.mp3-list-1001 .img-ratio {
  position: relative;
  padding-top: 100%;
}
.mp3-list-1001 .img-ratio > .icon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mp3-list-1001 .icon {
  border: 1px solid #eff3f9;
  border-radius: 15%;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  border: 1px solid #eff3f9;
  border-radius: 15%;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.mp3:hover .overlay {
  opacity: 1;
}

	
.mp3-list-1001 .name {
  margin-top: 4px;
  line-height: 20px;
  color: #5e5e5e;
  height: 40px;
  white-space: initial;
}
@media screen and (max-width: 429px) {
  .mp3-list-1001.enable-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    padding-bottom: 16px;
    justify-content: space-between;
  }
  .mp3-list-1001.enable-wrap a {
    width: 20%;
    width: calc((100% - 48px) / 4);
    min-width: auto;
    margin-left: 0;
  }
  .mp3-list-1001.enable-wrap a:nth-child(n + 5) {
    margin-top: 12px;
  }
  .mp3-list-1001.enable-wrap a:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 996px) {
  .mp3-list-1001 a {
    width: calc((100% - 144px) / 8);
    margin-left: 16px;
    vertical-align: bottom;
    min-width: auto;
  }
}
@media screen and (max-width: 719px) {
  .article-list .article:first {
    padding-top: 0;
  }
}
.mp3:hover .name {
  color: #00a6ed;
}
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #5e5e5e;
  line-height: 18px;
  z-index: -10000;
  background: #f2f5f9;
}
html {
  font-size: 62.5%;
}
a {
  color: #00a6ed;
  text-decoration: none;
}
a:hover {
  color: #00b6ff;
}
img {
  vertical-align: middle;
  border: 0;
  color: #ccc;
}
body {
  padding-top: 45px;
}
@media (min-width: 996px) {
  body {
    padding-top: 70px;
  }
}
:root {
  --module-spacing: 4px;
  --app-horizontal-spacing: 8px;
  --app-vertical-spacing: 12px;
  --html-direction: 1;
  --html-rtl: 0;
}
@media screen and (min-width: 720px) and (max-width: 995px) {
  :root {
    --module-spacing: 4px;
    --app-horizontal-spacing: 12px;
  }
}
@media screen and (min-width: 996px) {
  :root {
    --module-spacing: 8px;
    --app-horizontal-spacing: 16px;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.double-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  margin-left: 4px;
}
a:hover {
  
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri;
  direction: ltr;
}
.Am-img-slider-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .Am-img-slider-container {
    width: 80%;
    margin: 25px auto;
  }
}
.Am-img-slider-container .blog-slider .swiper-slide {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content {
  position: relative;
  margin-left: 15px;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > * {
  opacity: 1;
  transform: none;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(1) {
  transition-delay: 0.3s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(2) {
  transition-delay: 0.4s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(3) {
  transition-delay: 0.5s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(4) {
  transition-delay: 0.6s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(5) {
  transition-delay: 0.7s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(6) {
  transition-delay: 0.8s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(7) {
  transition-delay: 0.9s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(8) {
  transition-delay: 1s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(9) {
  transition-delay: 1.1s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(10) {
  transition-delay: 1.2s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(11) {
  transition-delay: 1.3s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(12) {
  transition-delay: 1.4s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(13) {
  transition-delay: 1.5s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(14) {
  transition-delay: 1.6s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__content
  > *:nth-child(15) {
  transition-delay: 1.7s;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(1) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 0.3s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(2) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 0.4s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(3) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 0.5s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(4) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 0.6s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(5) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 0.7s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(6) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 0.8s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(7) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 0.9s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(8) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(9) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1.1s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(10) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1.2s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(11) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1.3s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(12) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1.4s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(13) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1.5s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(14) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1.6s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.movie-image:nth-child(15) {
  animation: 1.5s 1 imgAnime;
  -webkit-animation: 1.5s 1 imgAnime;
  transition-delay: 1.7s;
  opacity: 1;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  .overly {
  opacity: 1;
  animation: 2s 1 playAnime;
  -webkit-animation: 2s 1 playAnime;
  display: block;
}
@keyframes playAnime {
  from {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(1) {
  transition-delay: 0.3s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(2) {
  transition-delay: 0.4s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(3) {
  transition-delay: 0.5s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(4) {
  transition-delay: 0.6s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(5) {
  transition-delay: 0.7s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(6) {
  transition-delay: 0.8s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(7) {
  transition-delay: 0.9s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(8) {
  transition-delay: 1s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(9) {
  transition-delay: 1.1s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(10) {
  transition-delay: 1.2s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(11) {
  transition-delay: 1.3s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(12) {
  transition-delay: 1.4s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(13) {
  transition-delay: 1.5s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(14) {
  transition-delay: 1.6s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide.swiper-slide-active
  .blog-slider__imgs
  img.back-image:nth-child(15) {
  transition-delay: 1.7s;
  animation: 4.5s 1 backimgAnime;
  -webkit-animation: 4.5s 1 backimgAnime;
}
@keyframes imgAnime {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes backimgAnime {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.Am-img-slider-container .blog-slider .swiper-slide .movie-image-container {
  position: relative;
  width: 150px;
  height: 150px;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide
  .movie-image-container
  div.overly {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  display: none;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide
  .movie-image-container
  div.overly
  a {
  background-color: #3485ff;
  width: 50px;
  height: 50px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: xx-large;
  color: white;
}
.Am-img-slider-container
  .blog-slider
  .swiper-slide
  .movie-image-container
  .movie-image {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.Am-img-slider-container .blog-slider .swiper-slide .back-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: blur(5px) brightness(50%);
}
.Am-img-slider-container .blog-slider__content > * {
  opacity: 0;
  transform: translateX(100px);
  transition: all 1.5s;
}
.Am-img-slider-container .blog-slider__title {
  color: white;
  font-size: medium;
  margin-bottom: 10px;
}
.Am-img-slider-container .blog-slider__text {
  font-size: 15px;
  line-height: 1.2em;
  color: #aaaaaa;
}
.Am-img-slider-container .blog-slider__rate {
  font-size: 15px;
  margin: 10px 0px;
  display: block;
  font-weight: 900;
  color: rgba(255, 217, 0, 0.4);
}
.Am-img-slider-container .blog-slider__img {
  opacity: 0;
}
.xxxtext {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
}
.xxxtext a {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}
.xxxtext .text {
  width: 0;
  flex-grow: 1;
  margin: 0 8px;
}
.xxxtext .text .name {
  font-weight: 900;
  color: #4b4b4b;
  line-height: 20px;
  font-size:16px;
}

.xxxtext .button {
  padding: 8px 12px;
  background: #f0f8ff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 10px;
  color: black;
}

@media screen and (min-width: 996px) {
  .xxxtext {
    padding: 12px;
  }
  .xxxtext .score {
    display: initial;
  }
  .xxxtext a {
    flex-wrap: wrap;
    padding: 0;
  }
  .xxxtext .icon {
    width: 56px;
    height: 56px;
  }
  .xxxtext .text {
    margin-left: 10px;
    margin-right: 0;
    padding: 4px 0;
    width: calc(100% - 66px);
  }
  .xxxtext .name {
    font-size: 16px;
    line-height: 24px;
  }
  .xxxtext .button {
 padding: 8px 12px;
  background: #f0f8ff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 10px;
  color: black;
  }
}
.ringtones-list {  display: flex;  flex-wrap: wrap;  padding-bottom: 8px;}.ringtones-list .ringtones {  width: 45%;  width: calc(50% - 24px);  padding: 8px 0;  margin-left: 16px;  display: flex;  align-items: stretch;}.ringtones-list .ringtones:nth-child(-n + 2) {  padding-top: 0;}.ringtones-list .ringtones:nth-child(n + 3) {  border-top: 1px solid #f0f2f4;}@media screen and (max-width: 719px) {  .ringtones-list .ringtones {    width: 100%;    margin: 0 8px;  }  .ringtones-list .ringtones:first {    padding-top: 0;  }  .ringtones-list .ringtones:nth-child(n + 2) {    border-top: 1px solid #f0f2f4;    padding-top: 8px;  }}.ringtones-list .ringtones-banner {  border-radius: 10px;  height: 80px;  width: 112px;  object-fit: cover;}@media screen and (max-width: 719px) {  .ringtones-list .ringtones-banner {    height: 70px;    width: 124.44px;  }}.ringtones-list .ringtones-banner {  margin-right: 12px;}.ringtones-list .text {  flex-grow: 1;  width: 0;  display: flex;  flex-direction: column;  justify-content: space-between;}.ringtones-list .ringtones-title {  line-height: 20px;  color: #5e5e5e;  font-weight: 500;}.ringtones-list .ringtones-title:hover {  color: #00a6ed;}.ringtones-list .size {  font-size: 13px;  line-height: 16px;  color: #a6a6a6;  margin-bottom: 8px;  margin-left: 4px;  }a {  color: #00a6ed;  text-decoration: none;}a:hover {  color: #00b6ff;}img {  vertical-align: middle;  border: 0;  color: #ccc;}@media screen and (min-width: 720px) and (max-width: 995px) {  :root {    --module-spacing: 4px;    --app-horizontal-spacing: 12px;  }}@media screen and (min-width: 996px) {  :root {    --module-spacing: 8px;    --app-horizontal-spacing: 16px;  }}.one-line {  overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis;}.double-lines {  overflow: hidden;  text-overflow: ellipsis;  display: -webkit-box;  -webkit-line-clamp: 2;  font-size:14px;  -webkit-box-orient: vertical;}
