ul {
  list-style-type: none;
}
:root {
  --bg-color: white;
  --green: #00e5c0;
  --body-font-family: "Poppins", sans-serif;
}
.audio-player {
  --player-color-featured:black;
  --player-color-background: white;
  --player-color-text: black;
  --player-percent-played: 0;
  --player-current-time: "00:00";
  --player-current-date-time: "00:00";
  background: var(--player-color-background);
  display: inline-flex;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  border: 2px solid rgb(220, 220, 220); 
  border-radius: 0.4rem;
  padding: 0.4rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Arial, sans-serif;
}
.audio-player + .audio-player {
  margin-top: 1rem;
}
.audio-player .player {
  flex: 1;
  display: flex;
}
.audio-player .player .btn-play {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: 0 0;
  border: 0;
  padding: 0 0.8rem 0 0.4rem;
}
.audio-player .player .btn-play:disabled {
  cursor: default;
}
.audio-player .player .btn-play span {
  color: var(--player-color-text);
  font-size: 38px;
  opacity: 0.8;
}
.audio-player .player .btn-play span:not(.icon-play),
.audio-player.playing .player .btn-play span:not(.icon-pause),
.audio-player.loading .player .btn-play span:not(.icon-loop),
.audio-player.error .player .btn-play span:not(.icon-error){
  display: none;
}

.audio-player.playing .player .btn-play .icon-pause {
  display: inline-block;
}
.audio-player .player .btn-play span:not(.icon-play),
.audio-player.error .player .btn-play span:not(.icon-error) {
  display: none;
}
.audio-player.error .player .btn-play .icon-error {
  display: inline-block;
}
@-webkit-keyframes load {
  to {
    transform: rotate(360deg);
  }
}
@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
.audio-player.error .player .btn-play {
  pointer-events: none;
}
.audio-player .player .timeline {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 0.2rem;
}
.audio-player .player .timeline .line {
  --line-height: 0.24rem;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.audio-player .player .timeline .line:before {
  content: "";
  width: var(--player-percent-played);
  position: absolute;
  background: var(--player-color-featured);
  height: var(--line-height);
  border-radius: calc(var(--line-height) / 2);
}
.audio-player .player .timeline .line input[type="range"] {
  flex: 1;
  all: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(220, 220, 220);
  border: none;
  outline: 0;
  width: 100%;
  position: relative;
}
.audio-player
  .player
  .timeline
  .line
  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: green;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  margin-top: calc(var(--line-height) * -1.4);
}
.audio-player .player .timeline .line input[type="range"]::-moz-range-thumb {
  all: unset;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: green;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  margin-top: calc(var(--line-height) * -1.4);
}
.audio-player .player .timeline .line input[type="range"]::-ms-thumb {
  appearance: none;
  background: green;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  margin-top: calc(var(--line-height) * -1.4);
}
.audio-player
  .player
  .timeline
  .line
  input[type="range"]::-webkit-slider-runnable-track {
  background: green;
  height: var(--line-height);
  border-radius: calc(var(--line-height) / 2);
}
.audio-player .player .timeline .line input[type="range"]::-moz-range-track {
  background: green;
  height: var(--line-height);
  border-radius: calc(var(--line-height) / 2);
}
.audio-player .player .timeline .line input[type="range"]::-ms-track {
  background: black;
  height: var(--line-height);
  border-radius: calc(var(--line-height) / 2);
}
.audio-player .player .timeline .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.68rem;
  color: var(--player-color-text);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.audio-player .player .timeline .data .current-time::before {
  content: var(--player-current-time);
}
.audio-player .player .timeline .data .time {
  display: flex;
  align-items: center;
}
.audio-player .player .timeline .data .time::before {
  content: var(--player-current-date-time);
}
.audio-player .player .timeline .data .time span {
  font-size: 1rem;
  margin-left: 0.4rem;
  color: var(--player-color-featured);
}
.audio-player .user {
  position: relative;
  width: 55px;
  height: 55px;
  margin-left: 1.4rem;
}
.audio-player .user img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  background: rgba(255, 255, 255, 0.01);
}
.audio-player .user span {
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--player-color-featured);
  transform: translateX(-50%);
  font-size: 1.6rem;
  text-shadow: -1px -1px 0 var(--player-color-background),
    1px -1px 0 var(--player-color-background),
    -1px 1px 0 var(--player-color-background),
    1px 1px 0 var(--player-color-background);
}

.containerx {
    margin: 0 auto;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
}
@media screen and (min-width: 1088px) {
    .containerx {
        max-width: 960px;
        width: 960px;
    }
    .is-hidden-desktop {
        display: none !important;
    }
}
@media screen and (min-width: 1280px) {
    .containerx {
        max-width: 1152px;
        width: 1152px;
    }
}
@media screen and (min-width: 1472px) {
    .containerx {
        max-width: 1344px;
        width: 1344px;
    }
}
a {
    color: inherit;
}
.abutton {
    display: inline-flex;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 5px 0.75em;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    vertical-align: top;
    align-items: center;
    -webkit-appearance: none;
    white-space: nowrap;
}
.abutton:hover {
    color: #363636;
    border-color: #b5b5b5;
}
.abutton[disabled] {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;
    cursor: not-allowed;
}
.abutton .icon {
    margin-left: calc(-0.375em - 1px);
    margin-right: 0.1875em;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
.abutton.is-small {
    font-size: 13px;
}
.abutton.is-light {
    background-color: #f5f5f5;
    color: #363636;
    border-color: transparent;
}
.ainput {
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 3em;
    padding: 4.625px 8.375px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee5e5;
    font-size: 14px !important;
    margin: 0;
    outline: 0;
}
.ainput:-moz-placeholder,
.ainput:-ms-input-placeholder,
.ainput::-moz-placeholder,
.ainput::-webkit-input-placeholder {
    color: #4a4a4a;
}
.ainput:active,
.ainput:focus {
    border-color: #1967d2;
    box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.app {
    display: block;
    overflow: hidden;
    color: inherit;
}
.app div:first-child {
    width: 64px;
    float: left;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 1px;
    margin: 0 12px 0 0;
}
.app div:first-child img {
    width: 64px;
    height: 64px;
    border-radius: 16px;
}
.app b,
.app h2,
.app h4 {
    display: block;
    font-size: 14px;
    margin-bottom: 1px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.app > div:last-child {
    padding-left: 66px;
}
.app > div:last-child > p {
    margin-top: 3px;
    color: #757575;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media screen and (min-width: 769px), print {
    a.app:hover {
        background: #f5f7fa;
    }
}
.navbar {
    background-color: #26272b;
    min-height: 3.25rem;
    position: relative;
    width: 100%;
    z-index: 30;
}
.navbar .navbar-menu a {
    color: #fff;
}
@media screen and (min-width: 1088px) {
    .is-hidden-desktop {
        display: none !important;
    }
}
.navbar > .containerx {
	width: 100%;
	background-color: #26272b;
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    position:fixed;
}
.navbar.has-shadow {
    box-shadow: 0 2px 0 0 #f5f5f5;
}
.navbar-brand {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
    min-height: 3.25rem;
}
.navbar-brand a.navbar-item:hover {
    background-color: transparent;
}
.navbar-burger {
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
}
.navbar-burger span {
    background-color: #fff;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, -webkit-transform;
    transition-property: background-color, opacity, transform;
    transition-property: background-color, opacity, transform, -webkit-transform;
    transition-timing-function: ease-out;
    width: 16px;
}
.navbar-burger span:nth-child(1) {
    top: calc(50% - 6px);
}
.navbar-burger span:nth-child(2) {
    top: calc(50% - 1px);
}
.navbar-burger span:nth-child(3) {
    top: calc(50% + 4px);
}
.navbar-burger:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.navbar-burger.is-active span:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
}
.navbar-burger.is-active span:nth-child(2) {
    opacity: 0;
}
.navbar-burger.is-active span:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
}
.navbar-menu {
    display: none;
}
.navbar-item {
    color: #4a4a4a;
    display: block;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    position: relative;
}
a.navbar-item {
    cursor: pointer;
}
a.navbar-item:hover {
    background-color: #fafafa;
    color: #1967d2;
}
.navbar-item {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
}
@media screen and (max-width: 1087px) {
    .navbar > .containerx {
        display: block;
    }
    .navbar-brand .navbar-item {
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
    .navbar-brand .search-icon {
    	
        margin-right: 0.75rem;
        margin-left: 5px;
    }
    .navbar-menu {
        background-color: #333;
        box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
        padding: 0.5rem 0;
    }
    .navbar-menu.is-active {
        display: block;
    }
}
@media screen and (min-width: 1088px) {
    .navbar,
    .navbar-end,
    .navbar-menu,
    .navbar-start {
        align-items: stretch;
        display: flex;
    }
    .navbar {
        min-height: 3.25rem;
    }
    .navbar-burger {
        display: none;
    }
    .navbar-item {
        align-items: center;
        display: flex;
        flex-grow: 1;
    }
    .navbar-item form {
        flex-grow: 1;
    }
    .navbar-menu {
        flex-grow: 1;
        flex-shrink: 0;
    }
    .navbar-start {
        justify-content: flex-start;
        margin-right: auto;
        flex-grow: 1;
    }
    .navbar-end {
        justify-content: flex-end;
        margin-left: auto;
    }
    a.navbar-item:hover {
        background-color: #f5f5f5;
        color: #333;
    }
    .navbar > .containerx .navbar-brand {
        margin-left: -0.75rem;
    }
    .navbar > .containerx .navbar-menu {
        margin-right: -0.75rem;
    }
}
.wpml-ls-item {
    list-style: none;
    position: relative;
}
ul.sub-menu {
    display: none;
    position: absolute;
    background: #26272b;
    padding: 10px 15px 10px 15px !important;
    min-width: 135px;
    width: 100%;
}
ul.sub-menu li {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 5px 0 5px 0;
}
ul.sub-menu li:last-child {
    border: none;
}
.wpml-ls-item:hover ul.sub-menu {
    display: block;
}
::-webkit-input-placeholder {
    line-height: normal;
}
.is-hidden {
    display: none !important;
}
* {
    word-wrap: break-word;
}
.menu-header-blog-containerx ul,
.menu-header-containerx ul {
    list-style: none;
    padding-left: 0;
}
.menu-header-blog-containerx ul li,
.menu-header-containerx ul li {
    display: inline-block;
}
.menu-header-blog-containerx ul li,
.menu-header-containerx ul li {
    padding-right: 10px;
}
.navbar-start form > div span {
    position: relative;
    top: -1px;
}
.navbar-start form > div button {
    border: none;
    margin: 0;
    height: 3em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.navbar-start form > div {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
.navbar-start form > div > div input {
    border: none;
}
.navbar-start form > div > div {
    width: 90%;
}
@media screen and (max-width: 1088px) {
    .menu-header-blog-containerx ul,
    .menu-header-containerx ul {
        padding-top: 0;
        margin-top: 5px;
    }
    .menu-header-blog-containerx ul li,
    .menu-header-containerx ul li {
        display: block;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #3a3a3a;
    }
    .navbar-start form > div > div {
        width: 82%;
    }
}
.footer-distributed {
  background-color: #333;
   
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 12px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
 
  font-size: 8px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 1px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 3px;

  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 0px;
  background-color: #33383b;
  border-radius: 62px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
  	
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 10px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 4px 1px 3px #666666;
  -moz-box-shadow: 4px 1px 3px #666666;
  box-shadow: 4px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  border: solid #1f098d 0px;
  text-decoration: none;
}

.btn:hover {
  background: #3c0102;
  text-decoration: none;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
article,
main {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
th {
  text-align: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12,
.col-lg-8,
.col-xl-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 992px) {
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table-borderless td,
.table-borderless th {
  border: 0;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
.custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before,
.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #28a745;
}
.custom-control-input.is-invalid:focus:not(:checked)
  ~ .custom-control-label::before,
.was-validated
  .custom-control-input:invalid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #dc3545;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #80bdff;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.bg-white {
  background-color: #fff !important;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.rounded-lg {
  border-radius: 0.3rem !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.py-2 {
  padding-top: 0.5rem !important;
}
.py-2 {
  padding-bottom: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.px-3 {
  padding-right: 1rem !important;
}
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
}
.py-4 {
  padding-bottom: 1.5rem !important;
}
@media (min-width: 768px) {
  .mb-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .p-md-5 {
    padding: 3rem !important;
  }
}
.text-center {
  text-align: center !important;
}
.text-white {
  color: #fff !important;
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
}

@supports (padding: max(0px)) {
}
@media (max-height: 576px) {
  @supports (padding: max(0px)) {
  }
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}
.container,
[class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
}
body {
  font-size: 0.9375rem;
}
* {
  outline: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #7bbf3a;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover {
  color: #f25132;
  text-decoration: none;
}
.small {
  font-size: 87.5%;
}
.bg-light {
  background-color: #f0f2f5 !important;
}
.rounded-lg {
  border-radius: 0.5rem !important;
}
.svg-5 {
  width: 1.25rem;
  height: 1.25rem;
}
.svg-secondary {
  fill: green;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  color: #fff;
  background-color: #7bbf3a;
  border-color: #7bbf3a;
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #63aa1f;
  border-color: #63aa1f;
}
.btn-primary:not(:disabled):not(.disabled):active:focus svg {
  fill: #fff;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  color: #fff;
  background-color: #fe8401;
  border-color: #fe8401;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #ea7900;
  border-color: #ea7900;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus svg {
  fill: #fff;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  color: #7bbf3a;
  background-color: transparent;
  border-color: #7bbf3a;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #7bbf3a;
  border-color: #7bbf3a;
}
.btn-light:not(:disabled):not(.disabled):active:focus {
  color: #212529;
  background-color: #f0f2f5;
  border-color: #f0f2f5;
}
.btn-light:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #7bbf3a;
  border-color: #7bbf3a;
}
.table th,
.table td {
  padding: 0.625rem;
}
.table th {
  font-size: 1rem;
  font-weight: 600;
}
.entry-content {
  text-align: justify;
}
.row {
  margin-left: -8px;
  margin-right: -8px;
}
[class*="col-"] {
  padding-left: 8px;
  padding-right: 8px;
}
body {
  font-size: 0.9375rem;
}
* {
  outline: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #7bbf3a;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover {
  color: #f25132;
  text-decoration: none;
}
.small {
  font-size: 87.5%;
}
.font-weight-semibold {
  font-weight: 600 !important;
}
a.text-body:hover,
a.text-body:focus {
  color: #f25132 !important;
}
.rounded-lg {
  border-radius: 0.5rem !important;
}
.svg-6 {
  width: 1rem;
  height: 1rem;
}
.svg-secondary {
  fill: #f25132;
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.375rem;
  }
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  color: #fff;
  background-color: #7bbf3a;
  border-color: #7bbf3a;
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #63aa1f;
  border-color: #63aa1f;
}
.btn-primary:not(:disabled):not(.disabled):active:focus svg {
  fill: #fff;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  color: #fff;
  background-color: #fe8401;
  border-color: #fe8401;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #ea7900;
  border-color: #ea7900;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus svg {
  fill: #fff;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  color: #7bbf3a;
  background-color: transparent;
  border-color: #7bbf3a;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #7bbf3a;
  border-color: #7bbf3a;
}
.btn-light:not(:disabled):not(.disabled):active:focus {
  color: #212529;
  background-color: #f0f2f5;
  border-color: #f0f2f5;
}
.btn-light:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #7bbf3a;
  border-color: #7bbf3a;
}
.archive-post:hover {
  border-color: #7bbf3a !important;
}

section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
.h6,
h2,
h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
.h6 {
  font-size: 1rem;
}
.small {
  font-size: 80%;
  font-weight: 400;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12,
.col-md-6,
.col-xl-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
.custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before,
.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #28a745;
}
.custom-control-input.is-invalid:focus:not(:checked)
  ~ .custom-control-label::before,
.was-validated
  .custom-control-input:invalid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #dc3545;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #80bdff;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
.align-middle {
  vertical-align: middle !important;
}
.bg-white {
  background-color: #fff !important;
}
.border {
  border: 1px solid #dee2e6 !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.rounded-lg {
  border-radius: 0.3rem !important;
}
.d-block {
  display: block !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.position-relative {
  position: relative !important;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.text-body {
  color: #212529 !important;
}
.text-muted {
  color: #6c757d !important;
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
}

@supports (padding: max(0px)) {
}
@media (max-height: 576px) {
  @supports (padding: max(0px)) {
  }
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}
svg{
	color: green;
	}
	
.share-button {
  position: fixed;
  bottom: 0px;
  right: 0px; 
  margin: 0px 20px 20px 0px;
  
}
#play-pause-button{
  font-size: 50px;
  cursor: pointer;
}
	
